@tailwind base;
@tailwind components;
@layer base{
  .primaryButton {
    @apply bg-white rounded-3xl text-sm md:text-base text-black font-medium md:font-bold px-3 py-2 md:px-4 md:py-2 hover:bg-white/85 transition duration-300;
  }
}
@tailwind utilities;
:root {
    --bg-color: #171717;
    --text-color: white;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }
  
  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    img[loading='lazy'] {
      clip-path: inset(0.6px);
    }
  }
  
  a,
  input,
  button {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
  }
  